*	{
	box-sizing:border-box;
}

.m-plus-1p-regular {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kosugi-maru-regular {
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{	
	background-color:#778899;
	font-family: "Kosugi Maru", sans-serif;
	margin:0;
}

body::-webkit-scrollbar{display: none;}

#header{
	top: 0;
	position:sticky;
}

.header{
	display:flex;
	justify-content: space-between;
	padding:0 0 0 1%;
	margin:0;
	background-color:#00008b;
	color:#fafafa;
}

#client_name {
	max-width: 25%;
	font-size:1.5rem;
	color:#fff;
	margin: 1% 0;
}

.header_side{
	margin: 1% 1%;
}

#realtime{
	color: white;
	font-size:larger;
	margin-bottom: 1%;
}

#svmode_btn{
	justify-self: end;
	padding-top: 5%;
}

#worktime{
	font-size:0.9rem;
}
#worktime p{
	margin-bottom: 0;
}

#logo{
	max-width:50%;
	max-height: 80%;
}


#headerarea{
	display:inline-grid;
}

#top-nav{
	font-family: "Kosugi Maru", sans-serif;
	background-color:#000;
	font-size:1.1rem;
}

.table{
	display:flex;
	padding-top:0.5%;
	padding-bottom:0.5%;
	justify-content:space-around;
	background-color:#FAFAFA;
	font-family: "M PLUS 1p", sans-serif;
}

.app_name{
	border-bottom: 1px solid;
}

.link{
	font-weight:bold;

}

.pass{
	font-weight:bold;
}

.list1 p{margin:0;}

.announce{
	font-weight:bolder;
	background-color:#FAFAFA;
	color:red;
	padding:1%;
	margin:0.5% 10% 0 10%;
	border: 3px solid;
}


ul 	{
	list-style-type: none;
}

a	{
	text-decoration:none;
	color:#FFF;	
}

a:hover{color:#000;}


li	{
	padding:.5% .5%;
	border: #000 1px solid;
}

li:hover{
	background-color:#00008b;
	color: #FAFAFA;
	border: #FAFAFA 1px solid;
}

.top{	
	
	display:flex;
	position: fixed;
	
}

.tools {display:flex;
	justify-content: space-around;
	color:#000;
	margin:0;
	padding:0;
}

.tools:hover{
	color:#FAFAFA;
	background-color:#000;

}

.tools a {
	color:#FAFAFA;
	}

.tools a:hover{
	color:#FAFAFA;}

.index ul{
	display:flex;
	margin:0;
	padding:0;
	justify-content: center;
	background-color:#FFF
}

.index li{
	font-family: "Kosugi Maru", sans-serif;
	font-size:1.1rem;
}

.index a{
	color:#000;
}

.index a:hover{
	color:#333;
}

#main{
	display:block;
	
}

/* 周知はじめ */

#nomal{
	max-height:50%;
	max-width:100%;
	}

#nomal::-webkit-scrollbar{display: none;}

#pinned{
	max-height:10%;
	max-width:100%;
	overflow:scroll;
	background-color:#778899;
}

#pinned::-webkit-scrollbar{
  display: none;}

 .category{
	max-height:50%;
	max-width:100%;
	margin:0.5% 10% 0 10%;
}


.important {
	color: #ff0000;
	font-size:1.2rem;
	background-color:#ffe600;
	border-radius:30px;
	list-style: none;
	font-family: "Kosugi Maru", sans-serif;
}

.normal {
	color: #000;
	font-size:1.2rem;
	background-color:#FAFAFA;
	border-radius:30px;
	list-style: none;
	font-family: "Kosugi Maru", sans-serif;
}

.editer {
	color: #000;
	font-size:1.2rem;
	background-color:#FAFAFA;
	border-radius:30px;
	list-style: none;
	font-family: "Kosugi Maru", sans-serif;
}


#pinned .block{
	margin:1% 1% 1% 1%;
	background-color:#ffe600;
	margin:0.3%;
	font-family: "Kosugi Maru", sans-serif;
}



.block {
	border-radius:30px;
	padding: 1em;
	margin:0.5% 0 0.5% 0;
	background-color:#FAFAFA;
	white-space: pre-wrap;
	font-family: "Kosugi Maru", sans-serif;
	font-size:1rem;
	}

.block p{
	display:inline;
	color:red;
	margin:0;
	font-weight:bold;
}



.editbar{display:flex;
	margin-bottom:5px;
}
.date {display:flex;
	padding-bottom:5px;
	border-bottom:solid 1px #000;
	justify-content:space-between;
	}

	/* 周知おわり */

#realtime1{
	color: white;
	font-size:larger;
	margin:0 0.5% ;
}

#realtime2{
	color: white;
	font-size:larger;
	margin:0 0.5% ;
}

#nowTimeArea{
	display: flex;
	justify-content: end;
	margin: 0.5% 1% 0 0;
}

#about{
	padding-top: 0.5%;
	display:flex;
	}

.text {
	padding-top: 1%;
	padding-inline: inherit;	
}

.about{	
	padding-top:5px;
}

form{
	justify-self: center;
	padding: 5% 10% 5% 10%;
	margin: 1% 0 1% 0;
	background-color:#FAFAFA;
	border-radius:30px;
}
input	{
	margin:0.2%;
}

text{
	resize: none;
	max-width:100%;
}

#btn{
	display: flex;
	justify-content:space-between;
	margin-bottom: 1%;
}

#btn input{
	background-color: #00008b;
	color: #FAFAFA;
	padding: 0.8rem 2rem;
	letter-spacing: 0.5rem;
	border-radius: 0.5rem;
	font-weight: bold;
}
#btn input:hover{
	background-color: #000;
	color: #FAFAFA;
}


#description{
	display: block;
}

#description span{
	font-size: small;
	white-space: pre-wrap;
}

#description :hover{
	color: #000;
}

.formtext{
	color: #000;
	margin:0;
	white-space: pre-wrap;
	font-size:small;
}

.updatediary{
	margin: 0;
	white-space: pre-wrap;
}

#footer-nav{
	display:none;
}

.howtotext{
	background-color:#FAFAFA;
	}

	/* 通知はじめ */
#notice{
	visibility: hidden;
	min-width: 250px;
	background-color: #313131;
	font-family: "M PLUS 1p", sans-serif;
	color: #fff;
	font-size:smaller;
	text-align: start;
	border-radius: 2px;
	padding: 15px 30px; 
	position: fixed;
	z-index: 1;
	right: 0%;
	top: 50px; 
	box-shadow: 0 3px 9px rgb(0 0 0 / 25%);
	}
#notice.show_success{
	visibility: visible;
	font-family: "M PLUS 1p", sans-serif;
	background-image: linear-gradient(60deg, #adff2f, transparent 60px);
	background-size: 100px calc(3% + 5px);
	background-repeat: no-repeat;
	animation: borderAnimation 1s alternate linear;
	}

	@keyframes borderAnimation {
		from { background-position: right bottom; }
		to { background-position: left bottom; }
		}
		

#notice.show_error{
	visibility: visible;
	font-family: "M PLUS 1p", sans-serif;
	background-image: linear-gradient(60deg, #ff0000, transparent 60px);
	background-size: 100px calc(3% + 5px);
	background-repeat: no-repeat;
	animation: borderAnimation 1s alternate linear;
	}

	@keyframes borderAnimation {
		from { background-position: right bottom; }
		to { background-position: left bottom; }
		}

	/* 通知おわり */

#update p{
	margin: 0;
}

@media (width <= 740px){

	.header span{display:none;}
	#worktime{display:none;}

	.table {display:none;}

	form{
		justify-self: auto;
		padding: 5% 10% 5% 10%;
		margin: 1% 0 1% 0;
		background-color:#FAFAFA;
		border-radius:30px;
	}

	#selectform #wknumbtn{
		background-color: #00008b;
		color: #FAFAFA;
		padding: .1rem 1rem;
		margin-left:1%;
		letter-spacing: 0;
		border-radius: 0.5rem;
		font-weight: bold;
	}

	#btn input{
		background-color: #00008b;
		color: #FAFAFA;
		padding: 1rem 1rem;
		letter-spacing: 0.2em;
		border-radius: 0.5rem;
	}

	textarea{
		resize: none;
		max-width:100%;
	}

	#call_form{
		justify-self: center;
		width: 90%;
	}

}
